/* 
    lowercased comment is for group of basic classes/ids/elements and they can only have one spesific purpose (e.g. text, margin, padding etc.)
    UPPERCASED comment is for group of section classes/ids/elements (e.g. HEADER, NAVIGATION etc.)
 */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

ul {
    padding-left: 1rem;
}

/* text */
h1, h2, h3, h4, p, a {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    color: #8c4002;
}

p, a {
    font-size: 1.25em;
    line-height: 1.5;
}

.text-black {
    color: black;
}

.text-inline {
    display: inline;
}

.text-break-word {
    overflow-wrap: break-word;
}
/* --end text */

/* container */
.container {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0;
}

.container-content {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
}
/* --end container */

/* margin and padding */
.mtb-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.ptb-1 {
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.p-1 {
    padding: 0 1em;
}

.pb-1 {
    padding-bottom: 1rem;
}

.pb-2 {
    padding-bottom: 2rem;
}
/* --end margin and padding */

/* background */
.bg-orange {
    background-color: #fff2e7;
}

.bg-blue {
    background-color: #e5f2ff;
}
/* --end background */

/* border */
.border {
    border: 1px solid #fffcfa;
}

.border-lightgray {
    border: 1px solid lightslategray;
}

.border-top {
    border-top: 1px solid lightslategray;
}

.border-left {
    border-left: 1px solid lightslategray;
}

.border-right {
    border-right: 1px solid lightslategray;
}

.border-orange {
    border: 1px solid #e6a066;
}

.border-top-orange {
    border-top: 2px solid #e6a066;
}

.border-darkblue {
    border: 2px solid #bdd9f5;
}

.border-blue {
    border: 1px solid #e5f2ff;
}

.border-radius-10 {
    border-radius: 10px;
}

.border-radius-trl-10 {
    border-radius: 10px 10px 0 0;
}
/* --end border */

/* flex */
.flex-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* --end flex */

/* NAVIGATION */
nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: black;
}

.nav-link {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

nav a:visited {
    color: black;
}

nav a:hover {
    color: #8c4002;
}
/* --end NAVIGATION */

/* BANNER */
#linus-figure img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 0%;
}
/* --end BANNER */

/* AWARDS */
figure {
    margin: 0;
}

figcaption {
    font-size: 0.75em;
    font-family: Arial, Helvetica, sans-serif;
}

figure img {
    height: 80px;
}

.img-box {
    border: 1px solid #e6a066;
    border-radius: 10px;
    width: 100px;
    padding: 10px;
    background-color: white;
    text-align: center;
}

.img-separator {
    border-bottom: 1px solid #e6a066;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}

#awards {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: calc(5% + 5px);
    flex-wrap: wrap;
    text-align: center;
}
/* --end AWARDS */

/* CONTACT */
.contact-group {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5em;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
    /* background-color: #fff2e7; */
    padding-left: 5px;
    padding-right: 5px;
}

.contact-group:hover {
    color: #8c4002;
    background-color: #fff2e7;
}

.contact-icon {
    flex-shrink: 0;
    width: 30px;
}

svg path {
    fill: currentColor;
}

.contact-text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.25em;
}
/* --end CONTACT */
