body {
    margin: 0;
}

figure {
    margin: 0;
}

#linus-figure img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: 100% 0%;
}

.container {
    margin-left: 10%;
    margin-right: 10%;
}